{% extends "base.html.jinja" %}

{% block title %}
   - {{ title }}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <form method="POST">
        <p>
            <label for="name">Name:</label>
            <input type="text" value="{{ event.name }}" id="name" name="name" required>
        <p>
            <label for="date">Date:</label>
            <input type="date" value="{{ event.datetime.date() if event.datetime else '' }}" id="date" name="date" required>
        </p>
        <p>
            <label for="time">Time:</label>
            <input type="time" value="{{ event.datetime.time() if event.datetime else '' }}" id="time" name="time" required>
        </p>
        <p>
            <label for="location">Location:</label>
            <input type="text" value="{{ event.location }}" id="location" name="location" required>
        </p>
        <p>
            <label for="description">Description:</label>
            <input type="text" value="{{ event.description }}" id="description" name="description" required>
        </p>
        <p>
            <label for="image_url">Image URL:</label>
            <input type="text" value="{{ event.image_url }}" id="image_url" name="image_url" required>
        </p>
        <button type="submit">{{ button_text }}</button>
    </form>
        <h1 class="text-3xl font-semibold text-center my-10">{{ title }}</h1>
        <form method="POST" class="w-full mx-auto mt-10">
            <div class="max-w-xl mx-auto bg-white rounded-xl shadow-lg border border-neutral-300 p-10 flex flex-col gap-6">
                <p class="flex flex-col gap-2">
                    <label for="name">Name</label>
                    <input class="p-2 bg-neutral-200 rounded-md" type="text" id="name" name="name" value="{{ event.name }}"
                        required>
                </p>
                <p class="flex flex-col gap-2">
                    <label for="date">Date</label>
                    <input class="p-2 bg-neutral-200 rounded-md" type="date" id="date" name="date" value="{{ event.datetime.date() }}" required>
                </p>
                <p class="flex flex-col gap-2">
                    <label for="time">Time</label>
                    <input class="p-2 bg-neutral-200 rounded-md" type="time" id="time" name="time" value="{{ event.datetime.time() }}" required>
                </p>
                <p class="flex flex-col gap-2">
                    <label for="location">Location</label>
                    <input class="p-2 bg-neutral-200 rounded-md" type="text" id="location" name="location" value="{{ event.location }}" required>
                </p>
                <p class="flex flex-col gap-2">
                    <label for="description">Description</label>
                    <textarea class="p-2 bg-neutral-200 rounded-md" type="textarea" id="description" name="description" required>{{ event.description }}</textarea>
                </p>
                <p class="flex flex-col gap-2">
                    <label for="image_url">Image URL</label>
                    <input class="p-2 bg-neutral-200 rounded-md" type="text" id="image_url" name="image_url" value="{{ event.image_url }}" required>
                </p>



                <button type="submit"
                    class="self-end px-6 py-2 mt-4 font-medium text-white rounded-md bg-slate-500 hover:bg-slate-600">
                    {{ button_text }}
                </button>
            </div>
        </form>
{% endblock %}