{% extends "base.html.jinja" %}

{% block title %}
    - {{ title }}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>Date: {{ event.f_date }}</p>
    <p>Time: {{ event.f_time }}</p>
    <p>Location: {{ event.location }}</p>
    <p>Description: {{ event.description }}</p>
    <p>Attending:</p>
    <ul>
        {% for attendee in event.attendees %}
            <li><a href="/members/{{ attendee.id }}">{{ attendee.name }}</a></li>
        {% endfor %}
    </ul>
    {% if button_text %}
        <form method="POST">
            <input type="submit" value="{{ button_text }}">
        </form>
    {% else %}
        <a href="/events/edit/{{ event.id }}">Edit</a>
        <a href="/events/delete/{{ event.id }}">Delete</a>
    {% endif %}
{% endblock %}