{% extends "base.html.jinja" %}

{% block title %}
    - {{ title }}
{% endblock %}

{% block content %}
<div class="container my-24 mx-auto md:px-6">
    <section class="mb-32">
        <div class="container mx-auto text-center lg:text-left xl:px-32">
            <div class="grid items-center lg:grid-cols-2">
                <div class="mb-6 lg:mb-0">
                    <div
                        class="relative rounded-xl bg-white px-6 py-12 shadow-md md:px-12 lg:-mr-14">
                        <h2 class="mb-8 text-3xl font-bold">{{ event.name }}</h2>
                        <p class="mb-8 pb-2 text-slate-500 dark:text-slate-300 lg:pb-0">
                            {{ event.description }}
                        </p>

                        <div class="mb-8 text-center">
                            <a href="https://www.google.com/maps/dir/?api=1&destination={{ event.location }}"
                                class="block px-4 py-2 border rounded-md shadow border-neutral-300 hover:bg-neutral-100">
                                <i class="mr-2 fas fa-map-marker-alt"></i>
                                {{ event.location }}
                            </a>
                        </div>

                        <div class="mx-auto mb-8 flex flex-col md:flex-row md:justify-around lg:justify-between">
                                <p class="mx-auto mb-2 flex gap-2 items-center md:mx-0 lg:mb-0 capitalize">
                                    <i class="mr-2 fas fa-info-circle"></i>
                                    {{ event.relative_date() }}
                                </p>
                                <p class="mx-auto mb-2 flex gap-2 items-center md:mx-0 lg:mb-0">
                                    <i class="mr-2 fas fa-calendar-day"></i>
                                    {{ event.date }}
                                </p>
                                <p class="mx-auto mb-2 flex gap-2 items-center md:mx-0 lg:mb-0">
                                    <i class="mr-2 fas fa-clock"></i>
                                    {{ event.time }}
                                </p>
                        </div>
                        {% if session.user %}
                            <div class="">
                                <p class="text-2xl font-medium mt-6 mb-2">Going</p>
                                <ul class="flex gap-2 mx-auto mb-2 md:mx-0 lg:mb-0 justify-center mt-6">
                                    {% for attendee in event.attendees %}
                                        <li class="">
                                            <a href="/members/{{ attendee.id }}" class="flex flex-col items-center">
                                                <img class="w-16 h-16 rounded-full" src="https://i.pravatar.cc/200?u={{ attendee.id }}">
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        <div class="flex gap-2 mt-6 justify-center">
                            <a href="/events/download/{{ event.id }}"
                                class="block px-4 py-2  text-white rounded-md bg-slate-500 hover:bg-slate-600">
                                <i class="mr-2 fas fa-calendar-plus"></i>
                                Add to calendar
                            </a>
                            {% if session.user and session.user.id in event.attendee_ids() %}
                            <a href="/events/rsvp/{{ event.id }}"
                                class="block px-4 py-2  text-green-800 rounded-md border border-green-400 bg-green-200 hover:bg-green-300">
                                <i class="mr-2 fa fa-check"></i>
                                Going
                            </a>
                            {% elif session.user %}
                            <a href="/events/rsvp/{{ event.id }}"
                                class="block px-4 py-2  text-slate-700 border rounded-md shadow border-neutral-300 hover:bg-neutral-100">
                                <i class="mr-2 fa fa-plus"></i>
                                RSVP
                            </a>
                            {% else %}
                            <a href="/signup"
                                class="block px-4 py-2  text-slate-700 border rounded-md shadow border-neutral-300 hover:bg-neutral-100">
                                <i class="mr-2 fa fa-plus"></i>
                                RSVP
                            </a>
                            {% endif %} {% if session.user and session.user.is_admin %}
                            <a href="/events/edit/{{ event.id }}"
                                class="block px-4 py-2  text-slate-700 border rounded-md shadow border-neutral-300 hover:bg-neutral-100">
                                <i class="mr-2 fas fa-edit"></i>
                                Edit
                            </a>
                            <a href="/events/delete/{{ event.id }}"
                                class="block px-4 py-2  text-slate-700 border rounded-md shadow border-neutral-300 hover:bg-neutral-100">
                                <i class="mr-2 fas fa-trash"></i>
                                Delete
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div>
                    <img src="{{ event.image_url }}"
                        class="h-[800px] w-full object-cover rounded-xl shadow-lg dark:shadow-black/20" alt="image" />
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}