{% extends "base.html.jinja" %}

{% block title %}- Events{% endblock %}

{% block content %}
    <h1>Events</h1>
    <ul>
        {% for event in events %}
            <li>
                <h3><a href="/events/{{ event.id }}">{{ event.name }}</a></h3>
                <p>Date: {{ event.date }}</p>
                <p>Location: {{ event.location }}</p>
                <p>Created by: <a href="">{{ event.created_by.name }}</a></p>
                <p>Attending:</p>
                <ul>
                    {% for attendee in event.attendees %}
                        <li><a href="/members/{{ attendee.id }}">{{ attendee.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}