{% extends "base.html.jinja" %}

{% block title %}- Events{% endblock %}

{% block content %}
    <h1>Events</h1>
    <a href="/events/create">Create event</a>
    <h2>Upcoming events</h2>
    <ul>
        {% for event in events %}
            <li>
                <h3><a href="/events/{{ event.id }}">{{ event.name }}</a></h3>
                <p>Date: {{ event.f_date }}</p>
                <p>Time: {{ event.f_time }}</p>
                <p>Location: {{ event.location }}</p>
                <p>Created by: <a href="/members/{{ event.creator.id }}">{{ event.creator.name }}</a></p>
                <a href="/events/edit/{{ event.id }}">Edit</a>
            </li>
        {% endfor %}
    </ul>
    <h2>Past events</h2>
{% endblock %}