{% extends "base.html.jinja" %}

{% block title %}
    - {{ member.name }}
{% endblock %}

{% block content %}
    <div class="container mx-auto">
        <div class="max-w-sm mx-auto relative bg-white rounded-xl shadow-lg border border-neutral-300 mt-32">
            <img class="shadow-md flex-none -mt-20 rounded-full bg-neutral-50 mx-auto" width="200" height="200" src="https://i.pravatar.cc/500?u={{ member.id }}">
            <div class="p-5 flex flex-col items-center">
                <h1 class="text-xl font-medium">{{ member.name }}</h1>
                <span class="text-sm text-slate-500 mt-1">{{ member.email }}</span>
            </div>
        </div>
    </div>

    <section id="events" class="max-w-4xl mx-auto space-y-6 my-20">
        <div class="p-10 bg-white border shadow-lg border-neutral-300 rounded-xl">
            <div class="flex items-center justify-between">
                <h3 class="text-2xl font-medium">Your upcoming events</h3>
                {% if session.user and session.user.is_admin %}
                <a href="/events/create"
                    class="px-4 py-2 font-medium tracking-wider text-white bg-slate-500 rounded-md hover:bg-slate-600">
                    <i class="mr-2 fas fa-plus"></i>
                    Create event
                </a>
                {% endif %}
            </div>
            <ul class="mt-4 divide-y">
                {% for event in member.upcoming_events() %}
                <li class="flex gap-4 py-6">
                    <img src="{{ event.image_url }}" width="200" class="object-cover rounded-md" />
                    <div class="flex flex-col w-full ">
                        <p class="text-sm uppercase tracking-wider font-bold flex justify-between text-red-600">
                            <span>{{ event.relative_date() }}</span>
                            <span>{{ event.date }} @ {{ event.time }}</span>
                        </p>
                        <a href="/events/{{ event.id }}" class="text-2xl font-medium hover:underline">{{ event.name }}</a>
                        <div class="flex items-center my-2">
                            <img class="h-8 w-8 flex-none mr-2 rounded-full bg-neutral-50"
                                src="https://i.pravatar.cc/300?u={{ event.creator.id }}">
                            <p>
                                <span class="font-light text-slate-700 text-sm">Created by</span>
                                <a href="/members/{{ event.creator.id }}" class="hover:underline">
                                    {{ event.creator.name }}
                                </a>
                            </p>
                        </div>
                        <div class="flex gap-2 mt-2">
                            <a href="/events/download/{{ event.id }}"
                                class="block px-4 py-2  text-white rounded-md bg-slate-500 hover:bg-slate-600">
                                <i class="mr-2 fas fa-calendar-plus"></i>
                                Add to calendar
                            </a>
                            {% if session.user and session.user.id in event.attendee_ids() %}
                            <a href="/events/rsvp/{{ event.id }}"
                                class="block px-4 py-2  text-green-800 rounded-md border border-green-400 bg-green-200 hover:bg-green-300">
                                <i class="mr-2 fa fa-check"></i>
                                Going
                            </a>
                            {% elif session.user %}
                            <a href="/events/rsvp/{{ event.id }}"
                                class="block px-4 py-2  text-slate-700 border rounded-md shadow border-neutral-300 hover:bg-neutral-100">
                                <i class="mr-2 fa fa-plus"></i>
                                RSVP
                            </a>
                            {% else %}
                            <a href="/signup"
                                class="block px-4 py-2  text-slate-700 border rounded-md shadow border-neutral-300 hover:bg-neutral-100">
                                <i class="mr-2 fa fa-plus"></i>
                                RSVP
                            </a>
                            {% endif %} {% if session.user and session.user.is_admin %}
                            <a href="/events/edit/{{ event.id }}"
                                class="block px-4 py-2  text-slate-700 border rounded-md shadow border-neutral-300 hover:bg-neutral-100">
                                <i class="mr-2 fas fa-edit"></i>
                                Edit
                            </a>
                            <a href="/events/delete/{{ event.id }}"
                                class="block px-4 py-2  text-slate-700 border rounded-md shadow border-neutral-300 hover:bg-neutral-100">
                                <i class="mr-2 fas fa-trash"></i>
                                Delete
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="p-10 bg-neutral-100 border shadow border-neutral-300 rounded-xl opacity-60">
            <h3 class="text-2xl font-medium">Your past events</h3>
            <ul class="mt-4 divide-y">
                {% for event in member.past_events() %}
                <li class="flex gap-4 py-6">
                    <img src="{{ event.image_url }}" width="200" class="object-cover rounded-md" />
                    <div class="flex flex-col w-full ">
                        <p class="text-sm uppercase tracking-wider font-bold flex justify-between text-red-600">
                            <span>{{ event.relative_date() }}</span>
                            <span>{{ event.date }} @ {{ event.time }}</span>
                        </p>
                        <a href="/events/{{ event.id }}" class="text-2xl font-medium hover:underline">{{ event.name }}</a>
                        <div class="flex items-center my-2">
                            <img class="h-8 w-8 flex-none mr-2 rounded-full bg-neutral-50"
                                src="https://i.pravatar.cc/300?u={{ event.creator.id }}">
                            <p>
                                <span class="font-light text-slate-700 text-sm">Created by</span>
                                <a href="/members/{{ event.creator.id }}" class="hover:underline">
                                    {{ event.creator.name }}
                                </a>
                            </p>
                        </div>
                        <div class="flex  gap-2 mt-2">
                            <a href="#" class="block px-4 py-2 text-slate-700 border rounded-md shadow border-neutral-300">
                                <i class="mr-2 fas fa-share"></i>
                                Share
                            </a>
                            {% if session.user and session.user.is_admin %}
                            <a href="/events/edit/{{ event.id }}"
                                class="block px-4 py-2 text-slate-700 border rounded-md shadow border-neutral-300">
                                <i class="mr-2 fas fa-edit"></i>
                                Edit
                            </a>
                            <a href="/events/delete/{{ event.id }}"
                                class="block px-4 py-2 text-slate-700 border rounded-md shadow border-neutral-300">
                                <i class="mr-2 fas fa-trash"></i>
                                Delete
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}