{% extends "base.html.jinja" %}

{% block title %}
- Members
{% endblock %}

{% block content %}
<div class="mt-20 max-w-2xl mx-auto">
    <h1 class="text-3xl font-medium">Members</h1>
    <ul class="divide-y divide-neutral-200 mt-10 bg-white border shadow-lg border-neutral-300 rounded-xl">
        {% for member in members %}
        <li class="flex justify-between items-center gap-x-6 py-5 px-8">
            <a href="/members/{{ member.id }}" class="flex gap-x-4">
                <img class="flex-none rounded-full bg-neutral-50" src="https://i.pravatar.cc/100?u={{ member.id }}" width="50" height="50">
                <div class="min-w-0 flex-auto">
                    <p class="text-sm font-semibold leading-6 text-neutral-900">{{ member.name }}</p>
                    <p class="mt-1 text-xs leading-5 text-neutral-500">{{ member.email }}</p>
                </div>
            </a>

            {% if member.is_admin %}
                <span class="rounded-full bg-green-100 px-2.5 py-0.5 text-sm text-green-700 ml-auto">
                    Admin
                </span>
            {% endif %}

            <div class="inline-flex overflow-hidden rounded-md border bg-white shadow-sm">
                {% if session.user.is_admin %}
                    <a href="/members/edit/{{ member.id }}" class="inline-block border-e p-3 hover:bg-neutral-50" title="Edit Product">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="/members/delete/{{ member.id }}" class="inline-block border-e p-3 hover:bg-neutral-50" title="Edit Product">
                        <i class="fas fa-trash"></i>
                    </a>
                {% endif %}
                <a href="/members/{{ member.id }}" class="inline-block p-3 hover:bg-neutral-50">
                    <i class="fas fa-angle-right"></i>
                </a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}