{% extends "base.html.jinja" %}

{% block title %}
    - Members
{% endblock %}

{% block content %}
    <h1>Members</h1>
    <ul>
        {% for member in members %}
            <li>
                <a href="/members/{{ member.id }}">{{ member.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}