{% extends "base.html.jinja" %}

{% block title %}- Events{% endblock %}

{% block content %}
    <h1>{{ member.name }}</h1>
    <p>Attending:</p>
    <ul>
        {% for event in member.attending %}
            <li><a href="/events/{{ event.id }}">{{ event.name }}</a></li>
        {% endfor %}
    </ul>
    <p>Created:</p>
    <ul>
        {% for event in member.created %}
            <li><a href="/events/{{ event.id }}">{{ event.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}